!!!
%html
  %head
    %link(rel="stylesheet" href="/css/RobotoCondensed.css")
    %link(rel="stylesheet" href="/css/style.css")
    %script{type: "text/javascript", src: "/js/jquery.min.js"}
    %script{type: "text/javascript", src: "/js/highcharts.js"}
    %script{type: "text/javascript", src: "/js/highcharts-more.js"}
    -# http://blog.stevenlevithan.com/archives/date-time-format
    %script{type: "text/javascript", src: "/js/date.format.js"}
    %title Weather Data Dashboard
  %body
    #wrapper
      #header
        %h1 Weather Data Dashboard - #{Time.now.strftime("%d. %b %Y")}
      #content
        =yield
      #footer
        .note Marcus Nasarek | &copy; 2013 | HomeWork Ltd.
