body {
	font-family: 'Roboto Condensed', sans-serif;
}
#wrapper {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	}
#header {
	/* padding: 10px 0 10px 0; */
	box-shadow: 2px 2px 3px 3px #ccc;
	border-radius: 2px;
	}
#header>h1 {
	text-align: center;
	line-height: 1.5em;
	font-size: x-large;
	color: grey;
	}
#content {
	min-height: 300px;
	}
#content ul {
	font-size: small;
	line-height: 1.5em;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 300px;
	}
#content ul li {
	border: solid 1px #ccc;
	border-radius: 3px;
	margin: 3px;
	padding: 3px 5px 3px 5px;
	background-color: #eee;
	}
#content ul li.sub {
	margin-left: 20px;
	background-color: #f2f2f2;
	color: #555;
	}
#content ul li.simple {
	margin-left: 30px;
	background-color: #f2f2f2;
	color: #555;
	font-style: italic;
	background-color: none;
	border: none;
	}
#top {
	margin: 5px;
	width:805px;
	height:317px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #888;
}
.small_tile {
	margin: 5px;
	width:190px;
	height:155px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #888;
}
#status_3 table td {
	font-size: x-small;
}
#status_3 table th {
	font-size: small;
}
#bottom_1 {
	margin: 0px 5px;
	float:left;
	width:165px;
	height:135px;
	padding: 10px 0 10px 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #888;
}
#bottom_2 {
	margin: 0px 5px;
	float:left;
	width:608px;
	height:156px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #888;			
}

#footer {
	margin-top: 10px;
	padding-top: 10px;
	border-top: solid 1px #ccc;
	}
.note {
	text-align: center;
	font-size: x-small;
	color: #888;
	}
