!!!
%html
  %head
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300")
    %link(rel="stylesheet" href="/css/style.css")
    %script{type: "text/javascript", src: "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{type: "text/javascript", src: "/js/highcharts.js"}
    -# http://blog.stevenlevithan.com/archives/date-time-format
    %script{type: "text/javascript", src: "http://stevenlevithan.com/assets/misc/date.format.js"}
    %title Weather Data Dashboard
  %body
    #wrapper
      #header
        %h1 Weather Data Dashboard - #{Time.now.strftime("%d. %b %Y")}
      #content
        =yield
      #footer
        .note Marcus Nasarek | &copy; 2012 | HomeWork Ltd.
