!!!
%html
  %head
    %link(rel="stylesheet" href="css/style.css")
    %title Weather Data Dashboard
  %body
    #wrapper
      #header
        %h1 Weather Data Dashboard
      #content
        =yield
      #footer
        .note Marcus Nasarek | &copy; 2012 | HomeWork Ltd.